<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thames Dental</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Thames_Dental_Web.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/css/Pages/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Pages/animate.css">
    <link rel="stylesheet" href="~/css/Pages/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/Pages/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/Pages/magnific-popup.css">
    <link rel="stylesheet" href="~/css/Pages/aos.css">
    <link rel="stylesheet" href="~/css/Pages/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Pages/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/Pages/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/Pages/flaticon.css">
    <link rel="stylesheet" href="~/css/Pages/icomoon.css">
    <link rel="stylesheet" href="~/css/Pages/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Thames <span>Dental</span>
                <br>
                @if (Context.Session.GetString("NombreUsuario") != null)
                {
                    @Context.Session.GetString("NombreUsuario")
                }
                else
                {
                    <p>Invitado</p>
                }
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item cta">
                        @if (Context.Session.GetString("NombreRol") == "Admin")
                        {
                            <a class="nav-link" asp-area="" asp-controller="Expedientes" asp-action="Expediente" style="background: #FFA500">
                                <span>Administrar</span>
                            </a>
                        }
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Nosotros" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Servicios" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Servicios">Servicios</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Equipo" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Equipo">Equipo</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Contacto" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Contacto">Contacto</a>
                    </li>
                    @if (Context.Session.GetString("NombreUsuario") != null)
                    {
                        <li class="nav-item cta @(ViewContext.RouteData.Values["action"]?.ToString() == "Contacto" ? "active" : "")">
                            <a class="nav-link" asp-area="" asp-controller="Pages" asp-action="Contacto" data-bs-toggle="modal" data-bs-target="#modalRequest">
                                <span>Agendar Cita</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Autenticacion" asp-action="CerrarSesion">Cerrar Sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thames Dental</h2>
                        <p>En Thames Dental, nos dedicamos a ofrecerte la mejor atención dental en un ambiente cálido y profesional.</p>
                    </div>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/thamesdentalcr"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Enlaces</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Pages" asp-action="Index">Inicio</a></li>
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Pages" asp-action="Nosotros">Nosotros</a></li>
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Pages" asp-action="Servicios">Servicios</a></li>
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Pages" asp-action="Equipo">Equipo</a></li>
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Pages" asp-action="Contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contáctenos</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><a href="https://maps.app.goo.gl/fn6NGUSar9qSmCJ98"><span class="icon icon-map-marker"></span><span class="text">Tejar de El Guarco, Cartago, Costa Rica</span></a></li>
                                <li><a href="tel:+50683040865"><span class="icon icon-phone"></span><span class="text">+506 8304 0865</span></a></li>
                                <li><a href="mailto:dra.thames@gmail.com"><span class="icon icon-envelope"></span><span class="text">dra.thames@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script> Thames Dental | Todos los derechos reservados.<br />
                        <small style="font-size: 10px; color: #999;">Template hecho por <a href="https://colorlib.com" target="_blank" style="color: #999;">Colorlib</a>.</small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <!-- Modal -->
    <div class="modal fade" id="modalRequest" tabindex="-1" aria-labelledby="modalRequestLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRequestLabel">Agendar una Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
                            <input type="text" class="form-control" id="appointment_name" placeholder="Nombre Completo">
                        </div>
                        <div class="form-group">
                            <!-- <label for="appointment_email" class="text-black">Email</label> -->
                            <input type="text" class="form-control" id="appointment_email" placeholder="Email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <label for="appointment_date" class="text-black">Date</label> -->
                                    <input type="text" class="form-control appointment_date" placeholder="Fecha">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <label for="appointment_time" class="text-black">Time</label> -->
                                    <input type="text" class="form-control appointment_time" placeholder="Hora">
                                </div>
                            </div>
                        </div>


                            <div class="form-group">
                                <div class="select-wrap">
                                    <select name="" id="" class="form-control appointment_esp">
                                        <option value="">Especialidades</option>
                                        <option value="">Consulta General</option>
                                        <option value="">Peridoncia</option>
                                        <option value="">Endodoncia</option>
                                        <option value="">Cirujia Maxilofacial</option>
                                        <option value="">Odontopediatria</option>
                                        <option value="">ATM</option>

                                    </select>
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="select-wrap">
                                <select name="" id="" class="form-control">
                                    <option value="">Servicios</option>
                                    <option value="">Limpieza dental</option>
                                    <option value="">Blanqueamiento</option>
                                    <option value="">Ortodoncia</option>
                                    <option value="">Biopsia</option>
                                    <option value="">Corona</option>
                                    <option value="">Puente</option>
                                    <option value="">Implante</option>
                                    <option value="">Calzas</option>
                                    <option value="">Cirujia de cordales</option>
                                    <option value="">Consulta general</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="appointment_message" class="text-black">Message</label> -->
                            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Comentario"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Agendar la Cita" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (TempData["SweetAlertMessage"] != null)
    {
        <script>
            Swal.fire({
                title: '@TempData["SweetAlertType"]' === "success" ? "¡Éxito!" : "Error",
                text: "@TempData["SweetAlertMessage"]",
                icon: "@TempData["SweetAlertType"]",
                confirmButtonText: "Aceptar"
            });
        </script>
    }


    <!-- Tu formulario aquí -->
    <form asp-action="Agendar" asp-controller="Cita" method="post" class="appointment-form" id="appointment-form">
        <!-- Contenido del formulario... -->
    </form>

    <!-- Script de filtrado -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const especialidadSelect = document.getElementById("especialidad");
            const servicioSelect = document.getElementById("servicio");

            // Filtrar las opciones de servicios cuando se cambia la especialidad
            especialidadSelect.addEventListener("change", function () {
                const selectedEspecialidad = especialidadSelect.value;

                // Mostrar solo las opciones que coinciden con la especialidad seleccionada o están vacías
                Array.from(servicioSelect.options).forEach(option => {
                    option.style.display = option.dataset.group === selectedEspecialidad || option.value === "" ? "block" : "none";
                });

                // Opcional: Restablecer la selección de servicio
                servicioSelect.value = "";
            });
        });
    </script>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/Pages/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/Pages/popper.min.js"></script>
    <script src="~/js/Pages/bootstrap-datepicker.js"></script>
    <script src="~/js/Pages/jquery.easing.1.3.js"></script>
    <script src="~/js/Pages/jquery.waypoints.min.js"></script>
    <script src="~/js/Pages/jquery.stellar.min.js"></script>
    <script src="~/js/Pages/jquery.animateNumber.min.js"></script>
    <script src="~/js/Pages/jquery.timepicker.min.js"></script>
    <script src="~/js/Pages/jquery.magnific-popup.min.js"></script>
    <script src="~/js/Pages/owl.carousel.min.js"></script>
    <script src="~/js/Pages/aos.js"></script>
    <script src="~/js/Pages/scrollax.min.js"></script>
    <script src="~/js/Pages/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fechasNoDisponibles = ["2024-12-25", "2024-12-31"]; // Agrega las fechas específicas o pasadas

            $('#fecha-cita').datepicker({
                format: 'yyyy-mm-dd',
                startDate: new Date(), // Impide seleccionar fechas pasadas
                beforeShowDay: function (date) {
                    var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
                    if (fechasNoDisponibles.includes(formattedDate)) {
                        return { classes: 'text-danger', tooltip: 'Día no disponible' }; // Muestra en rojo
                    }
                    return true; // Permite la selección
                }
            });
        });
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var horaDropdown = document.getElementById('hora-cita');

            $('#fecha-cita').on('changeDate', function () {
                var fechaSeleccionada = $('#fecha-cita').datepicker('getDate');
                var anio = fechaSeleccionada.getFullYear();
                var mes = ('0' + (fechaSeleccionada.getMonth() + 1)).slice(-2);
                var dia = ('0' + fechaSeleccionada.getDate()).slice(-2);
                var fechaFormateada = `${anio}-${mes}-${dia}`; // Formato yyyy-MM-dd

                console.log('Fecha seleccionada (formateada):', fechaFormateada);

                fetch(`/Cita/ObtenerHorasOcupadas?fecha=${fechaFormateada}`)
                    .then(response => response.json())
                    .then(horasOcupadas => {
                        console.log('Horas ocupadas obtenidas de la API:', horasOcupadas);

                        var horaInicio = 7;
                        var horaFin = 16; // 4:00 PM
                        var intervalos = 30; // en minutos

                        horaDropdown.innerHTML = '<option value="">Selecciona una hora</option>';

                        for (var h = horaInicio; h < horaFin; h++) {
                            for (var m = 0; m < 60; m += intervalos) {
                                var horaStr = `${h < 10 ? '0' + h : h}:${m < 10 ? '0' + m : m}`;
                                if (!horasOcupadas.includes(horaStr)) {
                                    var option = document.createElement('option');
                                    option.value = horaStr;
                                    option.textContent = horaStr;
                                    horaDropdown.appendChild(option);
                                }
                            }
                        }
                    })
                    .catch(error => console.error('Error al obtener horas ocupadas:', error));
            });
        });


    </script>



</body>
</html>
