
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Consultar Usuarios";

    var listaUsuarios = ViewBag.listaUsuarios as List<UsuarioModel>;
    var listaRoles = ViewBag.listaRoles as List<RolModel>;
}

<section class="mt-5">
    <h2 class="mb-5 text-center">Consulta</h2>
    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-danger text-center">@ViewBag.Mensaje</div>
    }
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col text-white">ID Usuario</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Activo</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            @if (listaUsuarios != null && listaUsuarios.Any())
            {
                @foreach (var item in listaUsuarios)
                {
                    <tr>
                        <td>@item.UsuarioId</td>
                        <td>@item.Identificacion</td>
                        <td>@item.Nombre</td>
                        <td>@item.Email</td>
                        <td>@item.NombreRol</td>
                        <td>@item.Activo</td>
                        <td>
                            <a id="AbrirModal" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                               data-nombre="@item.Nombre">
                                <i class="bx bx-edit" style="font-size: 1.6em;"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No hay compras registradas.</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
@*
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="ActualizarEstado" asp-controller="Usuario">
                <div class="modal-body">
                    <input type="hidden" id="Consecutivo" name="Consecutivo" value="">
                    ¿Desea cambiar el estado del usuario <label id="Nombre"></label>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            </form>

        </div>
    </div>
</div>
*@